@import url("//fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html,
body {
    background-color: #2a3140;
    font-family: "Inter", sans-serif;
    color: #dcdcdc;
    width: 100%;
    padding-top: 32px;
    margin: 0px;
}

.content {
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;
    padding-top: 16px;
    margin: auto;
    width: 400px;
    border: 2px solid #ffffffad;
    border-radius: 16px;
}

hr {
    border: 1px solid #667667;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    height: 0px;
    width: 100%;
}

button {
    width: 128px;
    height: 64px;
    border: 2px solid #667667;
    background-color: #383a3c;
    border-radius: 8px;
    color: #efefef;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 100ms;
}

button:hover {
    border: 2px solid #abd3ed;
    background-color: #474a4e;
}

h1 {
    color: #fff;
}