@import url("//fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body,
html {
    background-color: #2a3140;
    font-family: "Inter", sans-serif;
    color: #dcdcdc;
    width: 100%;
    margin: 0
}

.content {
    padding: 16px 48px 48px;
    margin: auto;
    width: 80%;
    min-width: 395px;
    border: 2px solid #ffffffad;
    border-radius: 16px
}

hr,
td,
th {
    border: 1px solid #667667
}

hr {
    margin: 32px auto;
    height: 0;
    width: 100%
}

button,
table {
    border: 2px solid #667667;
    border-radius: 8px
}

.mainbutton,
button {
    color: #efefef;
    cursor: pointer;
    transition-duration: 100ms
}

button {
    width: 128px;
    height: 64px;
    font-size: 16px
}

.mainbutton:hover,
button:hover {
    border: 2px solid #abd3ed;
    background-color: #474a4e
}

h1 {
    color: #fff
}

.mainbutton,
button,
td,
th {
    background-color: #383a3c
}

td,
th {
    transition-duration: 150ms
}

td {
    padding: 12px
}

th {
    pointer-events: none
}

table {
    padding: 4px;
    background-color: #26282b
}

td:hover {
    border: 1px solid #84ada7;
    background-color: #313337
}

.mainbutton {
    width: 64px;
    height: 32px;
    border: 2px solid #667667;
    border-radius: 8px;
    font-size: 14px
}

.main,
th {
    padding: 16px
}

.main {
    width: 100%;
    transition-duration: 250ms;
    margin-bottom: 8px
}

.main:hover {
    background-color: #4a4949
}

.maintext {
    margin-top: 5px
}

.num {
    text-align: center
}