@import url("//fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body,
html {
    background-color: #2a3140;
    font-family: "Inter", sans-serif;
    color: #dcdcdc;
    width: 100%;
    padding-top: 8px;
    margin: 0
}

.content {
    padding: 16px 48px 48px;
    margin: auto;
    width: 80%;
    min-width: 395px;
    border: 2px solid #ffffffad;
    border-radius: 16px
}

hr,
td,
th {
    border: 1px solid #667667
}

hr {
    margin: 32px auto;
    height: 0;
    width: 100%
}

button,
table {
    border: 2px solid #667667;
    background-color: #383a3c;
    border-radius: 8px
}

button {
    width: 128px;
    height: 64px;
    color: #efefef;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 100ms
}

button:hover {
    border: 2px solid #abd3ed;
    background-color: #474a4e
}

h1 {
    color: #fff
}

td,
th {
    padding: 12px
}

table {
    padding: 4px
}