@import "//fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap";

body,
html {
    background-color: #2a3140;
    font-family: "Inter", sans-serif;
    color: #dcdcdc;
    width: 100%;
    text-align: center;
}

.content {
    padding: 32px;
    margin: auto;
    width: 400px;
    border: 2px solid #ffffffad;
    border-radius: 16px;
}

input {
    width: 100%;
    margin: 4px;
}

#submit,
button {
    height: 48px;
    border: 2px solid #667667;
    background-color: #383a3c;
    border-radius: 8px;
    color: #efefef;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 100ms;
}

button {
    width: 64px;
    height: 32px;
    font-size: 14px;
}

#submit:hover,
button:hover {
    border: 2px solid #abd3ed;
    background-color: #474a4e;
}

#import {
    width: 300px;
    margin: auto;
    padding: 12px;
}

h1 {
    margin: 0;
    color: #fff;
}

p {
    margin-top: 4px;
    margin-bottom: 24px;
}

.buttons {
    padding: 16px;
    width: 64px;
    transition-duration: 250ms;
}

.buttons:hover {
    padding-left: 18px;
}

#validation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}